body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 20px 0 0 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 70%;
    height: 35%;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-family: Arial, sans-serif; 
}

.button-container {
    display: flex; 
    margin-bottom: 1rem;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button#limpiar {
    background-color: #337ab7;
}

button:hover {
    background-color: #45a049;
}

#resultado {
    text-align: center;
    margin: 0 5rem;
    margin-right: 5rem;
}

#resultado-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  
  
  #copiar {
    display: none;
    background-color: red;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
  }

  

